################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/nachos/nachos-3.4(1)
/nachos.zip